body {
  color: var(--bs-gray);
}

img {
  max-width: 100%;
}

a {
  color: var(--bs-primary);
  text-decoration: none;
}
a:hover {
  color: var(--bs-secondary);
  text-decoration: none;
}

// Header
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: transparent;
  transition: 0.3s background;
}

.main-header .navbar {
  padding: 15px 0;
}

.main-header .navbar-nav > li {
  padding: 0 10px;
}

.main-header .navbar-nav > li > .nav-link {
  padding: 0 5px;
  line-height: 35px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--bs-dark);
  letter-spacing: 3px;
  position: relative;
}
.main-header .navbar-nav > li > .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 0;
  height: 2px;
  background: var(--bs-primary);
  transition: ease all 0.3s;
}

.main-header .navbar-nav > li > .nav-link:hover {
  color: var(--bs-primary);
}

.main-header .navbar-nav > li > .nav-link:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

@media (max-width: 991px) {
  .main-header .navbar-collapse {
    border-bottom: 2px solid var(--bs-dark);
    border-top: 2px solid var(--bs-dark);
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
  }
  .main-header .navbar-nav > li + li {
    border-top: 1px solid rgba(55, 55, 55, 0.1);
  }
  .main-header .navbar-nav > li > .nav-link {
    line-height: 50px;
  }
  .main-header .navbar-nav > li > .nav-link:after {
    display: none;
  }
  .main-header .navbar-toggler {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 4px 9px;
    outline: none;
    box-shadow: none;
  }
  .main-header .navbar-toggler span {
    width: 25px;
    height: 2px;
    background: var(--bs-dark);
    margin: 4px 0;
    transition: 0.3s;
  }
  .main-header .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .main-header .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }
  .main-header .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
.colored-btn {
  padding: 8px 20px;
  border: 2px solid var(--bs-primary);
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: ease all 0.3s;
  display: inline-block;
  background: var(--bs-primary);
  color: #fff;
  box-shadow: 6px 6px 0 -1px var(--bs-dark);
}
.colored-btn:hover {
  color: #fff;
  background: var(--bs-dark);
  border-color: var(--bs-dark);
  box-shadow: 5px 5px -2px var(--bs-primary);
}
